<template>
  <div>
          <!-- <md-toolbar md-alignment="centered" class="md-default" md-elevation="1">
      
      <nuxt-link to="/about"><md-button>Refresh</md-button></nuxt-link>
      <md-button class="md-primary">Create</md-button>
    </md-toolbar> -->
<!--     
    <md-tabs class="md-elevation-2" md-sync-route md-alignment="centered">
      <md-tab id="tab-home" to="/blog" md-label="Blog"></md-tab>
      <md-tab id="tab-pages" to="/about" md-label="About"></md-tab>
      <md-tab id="tab-posts" to="/resume" md-label="Resume"></md-tab>
      <md-tab id="tab-settings" to="hire" md-label="Hire Me"></md-tab>
     
       
    </md-tabs> -->
 <v-tabs
    centered
    color="cyan"
    dark>
    <v-tabs-slider></v-tabs-slider>

    <v-tab href="#tab-1">
      Blog
    </v-tab>

    <v-tab href="#tab-2">
      About

    </v-tab>

    <v-tab href="#tab-3">
      Resume
   
    </v-tab>

    <v-tab-item
      v-for="i in 3"
      :id="'tab-' + i"
      :key="i"
    >
      <v-card flat>
        <v-card-text>{{ text }}</v-card-text>
      </v-card>
    </v-tab-item>
  </v-tabs>
    
  </div>
</template>

<script>
  export default {
      data(){
          return {

          }
      }
  }
</script>