<template>
<!-- <div class="md-elevation-5 md-primary">

    <md-card class="md-primary">
    <md-card-media md-small>
        <nuxt-link to="/"><img src="~/assets/chris-arter-400-x-400.jpg" alt="Chris Arter with fiance"></nuxt-link>
    </md-card-media>

     <md-card-header>
          <h2 class="md-title">{{ person.name }}</h2>
          <div class="md-subhead">
           <span>{{ person.title }}</span>
           <p>{{ person.location }}</p>
          </div>
        </md-card-header>

        <md-card-content>
          {{ snippet }}
        </md-card-content>
 <md-card-actions>
        
        <md-button>Download Resume</md-button>
      </md-card-actions>
    </md-card>
    <script type="application/ld+json">{{ personSchema }}</script>
</div> -->
<div>
    <v-card>
        <v-img
          src="chris-arter-400-x-400.jpg"
          aspect-ratio="1"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Christopher Arter</h3>
            <div><strong>Web Application Developer</strong></div>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>
      </v-card>
</div>
</template>
<script>

export default {
    data(){
        return {
            snippet: "Greetings! I'm an application developer making a living on the web.",
        }
    },
    props: {
        person: {
            type: Object,
            required: false,
            default: () => {
                return {
                    name: 'Chris Arter',
                    title: 'Application Developer',
                    location: 'Florida, USA'
                }
            }
        }
    },

    computed: {
        personSchema: function(){
            return {
                '@context': 'http://schema.org', 
                '@type': 'Person',
                familyName: 'Arter',
                email: 'christopherarter@gmail.com',
                givenName: 'Christopher',
                jobTitle: 'Application Developer',
                name: 'Christopher Arter',
                url: 'http://christopherarter.com',
                image: '~/assets/chris-arter-400-x-400.jpg'

            }
        }
    }
}

</script>