<template>
<div>

<div class="md-elevation-2">

    <md-card>
    
        <md-card-content>
          sidebar stuff here
        </md-card-content>

    </md-card>
</div>

</div>
</template>
<script>
export default {
    data(){
        return {

        }
    }
}
</script>