<template>
<v-container fluid>

        <v-layout row wrap class="ca-container" >
          <v-flex xs12 md2>
            <div class="text-xs-center">
              <v-avatar size="100px">
                <img
                  class="img-circle elevation-7 mb-1"
                  src="/chris-arter-400-x-400.jpg"
                >
              </v-avatar>
              <h4>Christopher Arter</h4>
              <div class="text-xs-center grey--text pt-1 pb-3">Web Application Developer</div>
                
                <p class="text-xs-left">Hello! I'm a web application developer, Dad, film geek, musician, and explorer of life.
                </p>

              <v-layout class="ca-menu" justify-space-between>
                <ul>
                  
                <li><nuxt-link to="/">
                  <a href="#">Blog</a>
                </nuxt-link></li>
                <li><nuxt-link to="/about">
                  <a href="#">About</a>
                </nuxt-link></li>
                <li><nuxt-link to="/resume">
                  <a href="#">Resume</a>
                </nuxt-link></li>
                <li><nuxt-link to="/hire-me">
                  <a href="#">Hire Me</a>
                </nuxt-link></li>

              </ul>
              </v-layout>   
                           
                <div class="text-xs-center">
                  <v-btn round color="primary" dark>Download Resume</v-btn>
                  
                </div>
                <div class="ca-menu text-xs-center">
                   <v-card-actions class="pa-3 text-xs-center">
                  <v-btn icon class="blue--text">
                    <v-icon medium>fa-twitter</v-icon>
                  </v-btn>
                  <v-btn icon class="light-blue--text">
                    <v-icon medium>fa-linkedin</v-icon>
                  </v-btn>
                  <v-btn icon class="black--text text--darken-4">
                    <v-icon medium>fa-github</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>

                </div>
            </div>
          </v-flex>
          <!-- Routing output -->
          <v-flex xs12 md6 offset-md1>
            <nuxt/>
          </v-flex>
          
          <v-flex xs12 md2 offset-md1>
           
         
          </v-flex>

        </v-layout>
      </v-container>
</template>
<script>
export default {
data () {
      return {
        title: 'Your Logo',
        posts: [
          {
            title: 'Fusce ullamcorper tellus',
            content: 'Fusce ullamcorper tellus sed maximus rutrum. Donec imperdiet ultrices maximus. Donec non tellus non neque pellentesque fermentum. Aenean in pellentesque urna.',
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/drop.jpg'
          },
          {
            title: 'Donec vitae suscipit lectus, a luctus diam.',
            content: 'Donec vitae suscipit lectus, a luctus diam. Proin vitae felis gravida, lobortis massa sit amet, efficitur erat. Morbi vel ultrices nisi.',
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/docks.jpg'
          },
          {
            title: 'Vestibulum condimentum quam',
            content: 'At sagittis sapien vulputate. Vivamus laoreet lacus id magna rutrum dapibus. Donec vel pellentesque arcu. Maecenas mollis odio tempus felis elementum commodo.',
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/plane.jpg'
          }
        ]
      }
    }
}
</script>
<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
body {
  margin: 0;
  padding: 0;

}
 
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
</style>

<style scoped>
.ca-container {

  margin: 0 auto;
  padding-top:20px;
}
.ca-content-wrapper {
  padding-top:15px;
}
.headline {
  margin-top:15px;
}
.ca-menu {
  padding: 20px 0px;
}
</style>