<template>
<div>
<h1>Hello there!</h1>

<p>I'm a 30-something-year-old web application developer in sunny Orlando, Florida. 
    I began as a Marketing Director in the aviation industry, then pivoted to coding
    full-time. I now build marketing applications, websites, and brands. 
</p>
<p>
    When I'm not building great new applications, I'm spending time with my two girls
    and enjoying the Florida sunshine.
</p>
</div>


</template>
<script>
export default {
    data(){
        return {

        }
    }
}
</script>
<style scoped>
p {
    margin: 25px 0px;
}

</style>