<template>
<div>
    <v-expansion-panel>
    <v-expansion-panel-content
      v-for="(item,i) in 5"
      :key="i"
    >
      <div slot="header">Item</div>
      <v-card>
        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
  
 <md-list class="md-triple-line">
      <md-list-item>
        <div class="md-list-item-text">
          <h2>Web Application Developer</h2>
        <md-divider style="margin: 20px 0;"></md-divider>
         
          <span><strong>LaunchThat</strong> Orlando, Florida</span>
           <span>October 2017 - Present.</span>

          <div style="margin-top:15px;">
              <p>I'm currently a full-time web application developer for LaunchThat in Orlando Florida. I build
                  a wide range of custom applications utilized by our marketing team.
              </p>
              <p>My responsibilities include:</p>
              <ul class="resume-duties">
                  <li>Marketing application development</li>
                  <li>3rd-party API integrations</li>
                  <li>Architecture planning</li>
                  <li>Coding standards review</li>
                  <li>Speed optimization</li>
                  <li>Front-end development</li>
                  <li>Documentation</li>

              </ul>
          
          </div>
        </div>
        
      </md-list-item>

      

    </md-list>
</div>
</template>

<script>

export default {
    data() {
        return {

        }
    }
}
</script>
<style scoped>
p {
    margin: 15px 0;
}

.resume-duties > li {
    margin: 10px 0;
}
</style>